 html, body {
  margin: 0;
  padding: 0;
  display: grid;
}
 canvas {
  display: block;
}
 a{display:block;
}
.cuadricula{
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 75px 75px 75px 100px 50px 100px 50px 100px;
}
.nombre{
  grid-row: 2;
  grid-column: 2;
}
.boton1{
  background-color: rgb(130,150,145);
  grid-row: 4;
  grid-column: 2;
}
.boton2{
  background-color: rgb(130,150,145);
  grid-row: 6;
  grid-column: 2;
}
.boton3{
  background-color: rgb(130,150,145);
  grid-row: 8;
  grid-column: 2;
}
