 html, body {
  margin: 0;
  padding: 0;
  display: grid;
}
 canvas {
  display: block;
}
 a{display:block;
}
.cuadricula{
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 75px 75px 75px 90px 50px 90px 50px 90px 30px;
}
.nombre{
  grid-row: 2;
  grid-column: 2;
}
.boton1{
  border: darkred;
  border-style: solid;     
  grid-row: 4;
  grid-column: 2;
}
.boton2{
  border: darkred;
  border-style: solid; 
  grid-row: 6;
  grid-column: 2;
}
.boton3{
  border: darkred;
  border-style: solid; 
  grid-row: 8;
  grid-column: 2;
}
